

//$(document).ready(function(){
//  $(".aha").click(function(){
//    $(".like").html("Hello <b>world!</b>");
//  });
//});


//its' work
//document.getElementById("like-<%= @post.id %>").innerHTML = "<span style='font-size: 1.5em; color: grey;'>" + 
//            "<i class='fas fa-heart'></i>" + 
//          "</span> Like";

//its' work
//$("<%= escape_javascript(render 'likes/like') %>").appendTo("#like-<%= @post.id %>");
//

//$("#like-<%= @post.id %>").replaceWith('<%= j render 'likes/like' %>');

$("#post_<%= @post.id %>_likes").replaceWith('<%= j render 'likes/likes' %>')