<div class="media border-bottom mb-3 pb-3">
  <img class="mr-3 img-fluid rounded align-self-center" src="<%= post.image_url %>" alt="Generic placeholder image" style="width: 120px; height: 120px;  object-fit: cover;">
  <div class="media-body">
    <h5 class="mt-0">
      <%= link_to post.title, post, class: "text-muted",  data: {toggle: "modal", target: ".bd-example-modal-lg-#{post.id}"} %>
      <%= link_to edit_post_path(post) do %>
      <i class="fal fa-edit float-right text-muted" ></i>
      <% end %>

    </h5>
    <%= post.content %></br>

    <span class="badge badge-secondary"># tag1</span>
    <span class="badge badge-secondary"># tag2</span>
    <span class="badge badge-secondary"># tag1</span>

    <span class="badge  badge-warning">Spacious</span>
    <span class="badge  badge-success">Pizza</span>
    <%  if post.hash_tags.exists? %>
    <span class="badge  badge-success"><%= post.hash_tags.first.name %></span>
    <% end %>
    <span class="badge  badge-success">Ribs</span></br>

    <span class="stars-container stars-80">★★★★★</span>
  </div>

        <%#= link_to 'Show', post, class: "btn btn-secondary" %></td>
        
</div>


<div class="modal fade bd-example-modal-lg-<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg bg-secondary">
    <div class="modal-content bg-transparent" style="border: none;">
      
      <div class="row no-gutters justify-content-md-center">
    
        <div class="col-lg-auto">
          <img class="" src="<%= post.image_url %>" alt="<%= post.title %>" style=" max-width: 100%;
      height: auto;">

           <!--<img src="https://images.unsplash.com/photo-1562051725-cc35a65c8227?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid dich-img" style="max-width: 500px;"> -->
          <!--<img src="https://images.unsplash.com/photo-1543362906-acfc16c67564?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid dich-img" style="max-width: 500px; max-height:500px;">-->
        </div>
        <div class="col-lg-4 bg-white" style="overflow-y: auto;  ">
          
          <div class="p-2">
            <h5 class="mt-0 text-muted">
              <%= post.title %>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="fal fa-times-circle float-right" style="color: green; font-size:1.5rem;" ></i>
              </button>
              
              
             
            </h5>

            <%= post.content %>
            <span class="badge badge-secondary"># tag1</span>
            <span class="badge badge-secondary"># tag2</span>
            <span class="badge badge-secondary"># tag1</span>

            <span class="badge  badge-warning">Spacious</span>
            <span class="badge  badge-success">Pizza</span>
            <span class="badge  badge-success">Ribs</span>
            <span class="stars-container stars-80">★★★★★</span>
          </div>
          
        </div>
      </div> <!-- end of row -->
    <!-- end of container -->
    </div>
  </div>
</div>