<div class="media border-bottom mb-3 pb-3">
  <img class="mr-3 img-fluid rounded align-self-center" src="<%= post.image_url %>" alt=" placeholder image" style="width: 120px; height: 120px;  object-fit: cover;">
  <div class="media-body">
    <h5 class="mt-0">
      <%= link_to post.title, post, class: "text-muted",  data: {toggle: "modal", target: ".bd-example-modal-lg-#{post.id}"} %>
      <%= link_to edit_post_path(post) do %>
      <i class="fal fa-edit float-right text-muted" ></i>
      <% end %>

    </h5>
    <%= post.content %></br>

    <span class="badge badge-secondary"># tag1</span>
    <span class="badge badge-secondary"># tag2</span>
    <span class="badge badge-secondary"># tag1</span>

    <span class="badge  badge-warning">Spacious</span>
    <span class="badge  badge-success">Pizza</span>
    <%  if post.hash_tags.exists? %>
      <% post.hash_tags.each do |hash_tag| %>
        <span class="badge  badge-success hash-tag-<%= hash_tag.id %>" onclick="clickfunc(this)"><%= hash_tag.name %></span>
        <script>
          if($(".hash-tag-<%= hash_tag.id %>:contains('ngon')").length > 0){
              $(".hash-tag-<%= hash_tag.id %>").css( "background", "#ffc107" );
          }
          if($(".hash-tag-<%= hash_tag.id %>:contains('khonganlai')").length > 0){
              $(".hash-tag-<%= hash_tag.id %>").css( "background", "#6c757d" );
          } 
          if($(".hash-tag-<%= hash_tag.id %>:contains('spacious')").length > 0){
              $(".hash-tag-<%= hash_tag.id %>").css( "background", "#ffc107" )
                                                .css("color", "#212529")
              ;
          } 


          function clickfunc(obj) {
              var t = $(obj).text();
              //alert(t);
              $("#home .media").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(t) > -1)
              });
          }

           
        </script>
      <% end %>
    <% end %>
    <span class="badge  badge-success">Ribs</span></br>

    <span class="stars-container stars-80">★★★★★</span>

    <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    
    <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
    <% if pre_like %>
      <div class="unlike" id="dislike-<%= post.id %>">
        <%= link_to post_like_path(post, pre_like), method: :delete, remote: true,  class: "grab" do %>
            <span style="font-size: 1.5em; color: #00AD39;">
              <i class="fas fa-heart"></i>
            </span>  <span style="text-decoration: none; color: #00AD39;">Like</span>
        <% end %>
      </div>
    <% else %>
      <%#= button_to 'Like', post_likes_path(post), method: :post %>
      <div class="like" id="like-<%= post.id %>">
        <%= link_to post_likes_path(post), method: :post, remote: true, class: "grab" do %>
            <span style="font-size: 1.5em; color: gray;">
              <i class="far fa-heart"></i>
              </span><span style="text-decoration: none; color: gray;"> Like </span>
        <% end %>
      </div>

    <% end %>

  </div>

        <%#= link_to 'Show', post, class: "btn btn-secondary" %></td>
        
</div>


<div class="modal fade bd-example-modal-lg-<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl ">
    <div class="modal-content bg-transparent" style="border: none;">
      
      <div class="row no-gutters justify-content-center">
    
        <div class="col-lg-auto  align-self-center" >
          <img class="" src="<%= post.image_url %>" alt="<%= post.title %>" style="max-height: 600px; max-width: 600px; object-fit: cover; width: 100%;">

           <!--<img src="https://images.unsplash.com/photo-1562051725-cc35a65c8227?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid dich-img" style="max-width: 500px;"> -->
          <!--<img src="https://images.unsplash.com/photo-1543362906-acfc16c67564?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid dich-img" style="max-width: 500px; max-height:500px;">-->
        </div>
        <div class="col-lg-4 bg-white" >
          
          <div class="p-2 hid_scroll" style="max-height: 600px; overflow-y: scroll; ">
            <h5 class="mt-0 text-muted">
              <%= post.title %>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="fal fa-times-circle float-right" style="color: green; font-size:1.5rem;" ></i>
              </button>
              
              
             
            </h5>

            <%= post.content %>
            <%  if post.hash_tags.exists? %>
              <% post.hash_tags.each do |hash_tag| %>
                <span class="badge  badge-success hash-tag-<%= hash_tag.id %>"><%= hash_tag.name %></span>
              <% end %>
            <% end %>
            <span class="stars-container stars-90">★★★★★</span>
            

            <h5>comments</h5>
            <%= form_with(model: [post, post.comments.build]) do |f| %>
              <%= f.text_field :content,  id: "comment-content", data: {postID: "#{post.id}"} %>
              <%= f.submit "create", class: "comment-submit" %>
            <% end %>
                        
            <div id="msg-<%= post.id %>">
            </div>
            <div class="modal-footer">
              blah
            </div>

            


          </div>
          
        </div>
      </div> <!-- end of row -->
    <!-- end of container -->
    </div>
  </div>
</div>